<header class="header-products">
  <nav class="nav-products">
    <div>
      <img class="products-logo" src="/images/logo.png" alt="logo">
    </div>
    <h2 class="welcome">Welcome! {{user.first_name}} {{user.last_name}}</h2>
    {{#if user.isAdmin}}
    <button class="add-new-prod" onclick="location.href='/products/addNewProduct/{{user._id}}'"><img
        src="/images/plus-icon.svg" alt="plus icon"> Add new product</button>
    {{/if}}
    {{#if user.isPremium}}
    <button class="add-new-prod" onclick="location.href='/products/addNewProduct/{{user._id}}'"><img
        src="/images/plus-icon.svg" alt="plus icon">Add new product</button>
    {{/if}}
    {{#if user.isUser}}
    <button class="premium-status" onclick="location.href='/api/session/premium/{{user._id}}'"><img
        src="/images/avatar-icon.svg" alt="avatar icon"> Change Status</button>
    {{/if}}
    {{#if user.isPremium}}
    <button class="premium-status" onclick="location.href='/api/session/premium/{{user._id}}'"><img
        src="/images/avatar-icon.svg" alt="avatar icon">Change Status</button>
    {{/if}}
    <div class="search-container">
      <img src="/images/magnifyingglass-icon.svg" alt="search icon">
      <input class="search" type="search" placeholder="Search your products (not working)">
    </div>
    <div class="icons">
      <p>{{#if user.isAdmin}}
        Admin
        {{else if user.isPremium}}
        Premium
        {{else}}
        User
        {{/if}}</p>
      <button class="profile-button" title="Profile" onclick="location.href='/profile/{{user._id}}'"><img
          class="profile-img" src="/images/avatar-icon.svg" alt="profile icon"></button>
      {{#if user.isUser}}
      <button class="cart-button" title="Cart" onclick="location.href='/carts/{{cartId}}'"><img class="cart-img"
          src="/images/cart-icon.svg" alt="cart icon"></button>
      {{/if}}
      {{#if user.isPremium}}
      <button class="cart-button" title="Cart" onclick="location.href='/carts/{{cartId}}'"><img class="cart-img"
          src="/images/cart-icon.svg" alt="cart icon"></button>
      {{/if}}
      <button class="logout-button" title="Logout" onclick="location.href='/api/session/logout'"><img class="logout-img"
          src="/images/logout-icon.svg" alt="logout icon"></button>
    </div>
  </nav>
</header>
<main class="main-products">
  <aside class="aside-products">
    filtros
  </aside>
  <section class="section-products">
    <div class="total-products">
      <p><strong>Total results:</strong> {{pagination.totalDocs}}</p>
      <p><strong>Page: </strong>{{pagination.page}} of {{pagination.totalPages}}</p>
    </div>

    {{#each products}}
    <div class="card">
      <div class="img-container" onclick="location.href='/products/details/{{_id}}/{{../user._id}}'"
        title="see details">
        {{#arrayNotEmpty thumbnail}}
        <img class="image" src="{{getFirstElement thumbnail}}" alt="{{title}}">
        {{else}}
        <img class="image" src="/images/logo.png" alt="{{title}}">
        {{/arrayNotEmpty}}
      </div>
      <div class="info">
        <h3 class="price">${{price}}</h3>
        <p class="products-title">{{toUpperCase title}}</p>
        {{#if ../user.isUser}}
        <button class="add-to-cart add-to-cart-prod" data-cart-id="{{../cartId}}" data-product-id="{{_id}}">
          <img src="/images/cart-plus-icon.svg" alt="add to cart icon" fill="currentColor">
          Add to cart
        </button>
        {{/if}}
      </div>
    </div>
    {{/each}}
    <div class="paginate">
      {{#if pagination.prevLink}}
      <button class="btn-link" onclick="location.href='{{pagination.prevLink}}'">
        <img src="/images/caret-left-icon.svg" alt="caret left">
      </button>
      {{else}}
      <button class="hidden">
        <img src="/images/caret-left-icon.svg" alt="caret left">
      </button>
      {{/if}}
      <div class="pages">
        -
        {{#each (range 1 pagination.totalPages)}}
        - <button class="page-btn"
          onclick="location.href='http://localhost:3000/products?page={{this}}'">{{this}}</button> -
        {{/each}}-
      </div>
      {{#if pagination.nextLink}}
      <button class="btn-link" onclick="location.href='{{pagination.nextLink}}'">
        <img src="/images/caret-right-icon.svg" alt="caret right">
      </button>
      {{else}}
      <button class="hidden">
        <img src="/images/caret-right-icon.svg" alt="caret right">
      </button>
      {{/if}}
    </div>
  </section>
  <footer class="footer-products">
    footer
  </footer>
</main>

<script src="/js/products.js"></script>