<header class="header-products">
  <nav class="nav-products">
    <div>
      <img class="products-logo" src="/images/logo.png" alt="logo">
    </div>
    <h2 class="welcome">Welcome! {{user.first_name}} {{user.last_name}}</h2>
    <div class="search-container">
      <img src="/images/magnifyingglass-icon.svg" alt="search icon">
      <input class="search" type="search" placeholder="Search your products (not working)">
    </div>
    <div class="icons">
      <p>{{#if user.isAdmin}}
        Admin
        {{else if user.isPremium}}
        Premium
        {{else}}
        User
        {{/if}}</p>
      <button class="profile-button" title="Profile" onclick="location.href='/logout'"><img class="profile-img"
          src="/images/avatar-icon.svg" alt="profile icon"></button>
      <button class="cart-button" title="Cart" onclick="location.href='/carts/{{cartId}}'"><img class="cart-img"
          src="/images/cart-icon.svg" alt="cart icon"></button>
      <button class="logout-button" title="Logout" onclick="location.href='/api/session/logout'"><img class="logout-img"
          src="/images/logout-icon.svg" alt="logout icon"></button>
    </div>
  </nav>
</header>
<main class="main-products">
  <aside class="aside-products">
  </aside>
  <section class="section-products">
    {{#each products}}
    <div class="card">
      {{!-- agregar href a carrito --}}
      <div class="img-container" onclick="location.href='/'">
        <img class="image" src="{{getFirstElement thumbnail}}" alt="{{title}}">
      </div>
      <div class="info">
        <h3 class="price">${{price}}</h3>
        <p class="title">{{toUpperCase title}}</p>
        <form class="add-to-cart" method="post" action="http://localhost:3000/api/carts/{{../cartId}}/product/{{_id}}">
          <div>
            <img src="/images/cart-icon.svg" alt="">
            <input type="submit" value="Add to cart" data-cart-id="{{cartId}}" data-product-id="{{_id}}">
          </div>
        </form>
      </div>
    </div>
    {{/each}}
  </section>
  <footer class="footer-products">

  </footer>
</main>

<script src="/js/products.js"></script>