<ul>
     {{#each products}}
    <li>
        <p>id: {{_id}}, titulo: {{title}}, descripcion: {{description}}, codigo: {{code}}, precio: {{price}}, stock: {{stock}}, categoria: {{category}}</p>
    </li>
    {{/each}}
</ul>